.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal__content {
  width: 40%;
  position: relative;
  left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 28px;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 4px;

}
.modal__title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Poppins", sans;
  color: #2f3567;
  text-align: center;

}
.modal__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__btn {
  width: max-content;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  font-family: "Poppins", sans;
  background-color: #46CD80;
  padding: 12px;
  border-radius: 4px;

}




.selection {
  font-family: "Poppins", sans;
  color: #2f3567;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #FF6F3F;
  border-radius: 4px;
  padding: 4px;
  width:40%;
  cursor: pointer;
}


.selection__option {
  font-family: "Poppins", sans;
  color: #2f3567;
  font-size: 14px;
  line-height: 1.5;
}


.selection__option:checked {
  background-color: #FFD4C5;
  color: white;
}